@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap") * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cdfadb;
  font-family: "Roboto", sans-serif;
}

.main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #0c2d57;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px 12px;
  margin-bottom: 12px;
  border-radius: 5px;
  outline: none;
  border: none;
}

input[type="text"]::placeholder {
  color: #999;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
}

#calculate_btn {
  border: none;
  border-radius: 5px;
  background-color: #0c2d57;
  padding: 12px 14px;
  color: white;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#calculate_btn:hover {
  background-color: #474f7a;
}

.result {
  background-color: white;
  margin: 12px 0;
  margin-top: 20px;
  padding: 14px;
  border-radius: 5px;
  color: #0c2d57;
  font-size: 14px;
  display: none;
}

.description {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  margin: 4px;
  color: #526d82;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0c2d57;
  color: white;
  padding: 12px 0;
  font-size: 14px;
  text-align: center;
}
.footer > a {
  color: white;
  font-weight: bold;
}
